.friendMessage {
  
  border: 1px solid #D9D9D9;
}

.friendImageAndText {

}

.friendImageAndText img {
  border-radius: 50%;
}

.friendText {
  background: #F5F7FB;
  border-radius: 25%

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
